.featured {
    background-color: transparent;

}
.featured__card {
    padding: 8px;
    background-color: rgb(160, 160, 160);
    margin: 1rem;
    border-radius: 15px;
}
.featured__image {
    aspect-ratio: 4 / 3;
    overflow: hidden;
    border-radius: 16px;
  }
  
  .featured__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

