.navbar {
    position: fixed;
    left: 50%;
    bottom: var(--navbar-bottom, 1rem);
    transform: translateX(-50%);
  
    width: calc(100% - 2rem);
    max-width: 520px;
    z-index: 1000;

    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
  
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.18);
}

.navbar__logo {
    text-decoration: none;
    color: #000;
    font-size: .8rem;
    font-weight: 600;
}

.navbar__list {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar__link {
    text-decoration: none;
    color: #833535;
    font-size: .8rem;
    font-weight: 600;
}
